@media screen and (max-height: 600px) {
    .feature {
        margin: 10px 0;
        padding: 10px;
    }

    .carousel-container {
        max-height: 60vh;
        overflow-y: auto;
    }

    .banner {
        min-height: 30vh;
        padding: 1vh 0;
    }

    .banner-content {
        padding: 1vh 2vw;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }
}
