//////////////////////
/// 
/////////////// 800px 
/// 
/////////////////////
@media screen and (max-height: 1000px) {

    /* .carousel-container {
        max-height: 60vh;
        overflow-y: auto;
    } */

    .banner-content {
        padding: 100vh 20vw;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }
}


//////////////////////
/// 
/////////////// 768px 
/// 
/////////////////////
@media (max-width: 768px) {
    .form-group--row .input-and-btn {
        flex-direction: column;
        gap: 0.5em;

        .btn-add-light {
            margin-left: 0;
            width: 100%;
        }
    }
}