###> symfony/framework-bundle ###
/.env
/.env.*
!.env.example
/.env.local.php
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/deploy.sh
###< symfony/framework-bundle ###

###> uploads & media ###
/public/uploads/
/public/images/
###< uploads & media ###

###> IDE ###
/.idea/
/.vscode/
/.history/
*.swp
*.swo
###< IDE ###

###> Assets sources ###
/assets/images/logo/*.psd
###< Assets sources ###

###> Logs ###
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
###< Logs ###

###> Système ###
.DS_Store
Thumbs.db
###< Système ###

###> Webpack Encore ###
/node_modules/
/public/build/
/assets/vendor/
###< Webpack Encore ###

###> Tests ###
/phpunit.xml
.phpunit.result.cache
/coverage/
###< Tests ###

###> Composer ###
composer.lock
composer.phar
###< Composer ###