{% extends 'base.html.twig' %}

{% block title %}Confirmation Email{% endblock %}

{% block body %}
    <section class="confirm-container">
        <div class="confirm-box">
            <h1>Confirmez votre adresse email</h1>
            <p>
                Cliquez sur le lien ci-dessous pour valider votre inscription :
            </p>
            <a href="{{ signedUrl|raw }}" class="btn-primary">Confirmer mon email</a>
            <p class="expire-msg">
                Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            </p>
        </div>
    </section>
{% endblock %}
