@use "sass:color";
@use "../abstracts/colors" as *;

.features {
    .container {
        display: flex;
        justify-content: space-around;
        margin: 50px 0;
        flex-wrap: wrap;
    }

    .feature {
        background-color: rgba($light, $alpha: 0.6);
        padding: 25px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);
        text-align: center;
        flex: 1 1 300px;
        margin: 10px;

        img {
            width: 100%;
            max-width: 15rem;
        }

        h3 {
            margin-top: 10px;
            color: $dark;
            font-size: 1.4rem;
        }
    }
}