@use "sass:color";
@use "../abstracts/colors" as *;

.product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.product-form label {
    font-weight: bold;
}
