@use "sass:color";
@use "../abstracts/colors" as *;

.product-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    max-width: 10rem;
}

.product-form label {
    font-weight: bold;
}
