@use "sass:color";
@use "../abstracts/colors" as *;

.newsletter-modal {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.55);

    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0.3s;

    &.open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }

    .newsletter-modal__dialog {
        position: relative;
        background: $light;
        padding: 2rem 1.5rem 1.5rem 1.5rem;
        // border-radius: 0.75rem;
        box-shadow: 0 8px 32px rgba($dark, 0.15);
        max-width: 400px;
        width: 90%;
        text-align: center;
        z-index: 1;
    }

    .newsletter-modal__close {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        background: none;
        border: none;
        font-size: 2rem;
        color: $dark;
        cursor: pointer;
        z-index: 2;
        transition: color 0.2s;

        &:hover {
            color: $primary;
        }
    }

    .newsletter-modal__title {
        margin-bottom: 0.5rem;
        color: $primary;
        font-size: 1.4rem;
        font-weight: bold;
    }

    .newsletter-modal__desc {
        margin-bottom: 1.3rem;
        color: $dark;
        font-size: 1.1rem;
    }

    .newsletter-modal__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        input[type="email"] {
            padding: 0.75rem;
            border: 1px solid $primary;
            font-size: 1rem;
        }
    }

    .newsletter-modal__user-email {
        display: none;
        margin-bottom: 1rem;
        font-weight: 600;
        color: $dark;
    }

    .newsletter-modal__actions {
        display: flex;
        gap: 0.75rem;
        margin-top: 1rem;

        .btn-secondary {
            flex: 1;
            margin-top: 0;
        }
    }
}