@use "sass:color";
@use "../abstracts/colors" as *;

.profile-feature {
    max-width: 70rem;
    margin: 3rem auto;
    background: rgba($light, $alpha: 0.6);
    padding: 20px;
    box-shadow: 0 4px 10px rgba($black, 0.1);
    text-align: center;
}

.profile-container {
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: $primary;

    a {
        text-decoration: none;
    }
}

.profile-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: $dark;
}

.profile-email {
    font-size: 1rem;
    color: $primary;
}

.profile-image {
    display: block;
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 2px solid $secondary;
}

.profile-section {
    margin-top: 2rem;
}

.profile-update {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-label {
    display: block;
    margin: 1rem;
    font-weight: 600;
    color: $dark;
}

.profile-image-input {
    border: 1px solid $secondary;
    background: $white;
    color: $dark;
    width: 100%;
    max-width: 300px;
}

.orders-section {
    margin-top: 2rem;
}

.action-links {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.profile-image-input {
    padding-right: 0;
    border: 1px solid $secondary;
    background-color: $white;
    color: $dark;
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    width: 100%;
    max-width: 400px;

    &::-webkit-file-upload-button {
        background: $primary;
        color: $light;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    &::-webkit-file-upload-button:hover {
        background: color.scale($primary, $lightness: -10%);
    }

    &::file-selector-button {
        background: $primary;
        color: $light;
        padding: 0.5rem 1rem;
        border: none;
        cursor: pointer;
        transition: background 0.3s ease;
    }

    &::file-selector-button:hover {
        background: color.scale($primary, $lightness: -10%);
    }
}

.btn-custom {
    background-color: $primary;
    color: $light;
    padding: 0.7rem 1.5rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background-color: color.scale($primary, $lightness: -10%);
    }
}