<div class="row col-md-8 mx-auto mt-5">
	{% for label, messages in app.flashes %}
		<div class="alert alert-{{ label == 'success' ? 'success' : 'danger' }}">
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		</div>
	{% endfor %}
</div>
