<p>Bonjour {{ user.firstName }},</p>

<p>Vous avez demandé à réinitialiser votre mot de passe sur <strong>Relax CBD Shop</strong>.</p>

<p>
    Cliquez sur le lien ci-dessous pour le réinitialiser :<br>
    <a href="{{ url }}">Réinitialiser mon mot de passe</a>
</p>

<p><em>Ce lien expirera dans 1 heure.</em></p>

<p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet email.</p>

<p>À bientôt,<br>L'équipe Relax CBD</p>